<!DOCTYPE html>
<html>
    <head>
        <title>Widget Dot</title>
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    </head>
    <body>

	<div id="output"><div><h1>Loading</h1></div></div>
	<template id="template">
	    <div>
		<h1>loaded by {%= self.name %}</h1>
		<input type="checkbox"
			value="{%= self.isCurrentUrl %}"
			onchange="{%= self %}.data(1).switchCurrentUrl();"
		>
		{% if ( self.isCurrentUrl ) { %}
			<iframe width="560" height="315" src="{%= self.url %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		{% } %}

		<input type="text" 
		    value="{%= self.name %}" 
		    onchange="{%= self %}.data(1).name = this.value"
		    onkeyup="{%= self %}.data(1).name = this.value">
	    </div>
	</template>
	<div id="output2"><div><h1>Loading 2</h1></div></div>
	<template id="templatechild">
		<div>
			<div>
				{% if ( !self.parent.data().isCurrentUrl ) { %}
				<iframe width="560" height="315" src="{%= self.url %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				{% } %}
				<button onclick="{%= self %}.data().parent.data(1).name += '!'" >Add ! in {%= self.parent.data().name %}</button>
			</div>
			<div>
				<input type="text" 
				       value="{%= self.url %}" 
				       onchange="{%= self %}.data(1).url = this.value"
				       onkeyup="{%= self %}.data(1).url = this.value">
			</div>
		</div>
	</template>
	<script src="../../dist/widget-dot.js"></script>
	<script src="sample-dot.js"></script>
    </body>

</html>
