<!DOCTYPE html>
<html>
    <head>
        <title></title>
	<link rel="stylesheet" href="../css/pico.css">
    </head>
    <body>
	<script id="state-template" type="text/html" 
	    	    data-widget-functions="{
	    	      getStates: function(){
	    		  var rtn = {};
	    		for(var i =0; i < self.zipCodes.length; i +=1) {
	    		    rtn[self.zipCodes[i].state] = 1;
	    		}
	    		rtn = Object.keys(rtn);
	    		rtn.sort();
	    		return rtn;
	    	      }
	    	      }"
	    >
	    <div>
		<select onchange="{%= self %}.selected = this.value">
		{% if ( self.zipCodes.length ) { %}
		    <option value="">
			select State
		    </option>
		{% self.getStates().forEach(function(state, index) { %}
		    <option {%=(state == self.selected ? 'selected' : '') %}>
		       {%= state %} 
		    </option>
		{% }) %}
		{% } else { %}
		    <option>
			Waiting on states
		    </option>
		{% } %}
		</select>
	    </div>
	</script>
	<script type="text/html" id="zipcode-template"
	        data-widget-functions="{getZips:function(){
	    		var rtn = {};
	    		for(var i =0; i < self.parent.zipCodes.length; i +=1) {
	    		    if (self.parent.zipCodes[i].state == self.parent.selected) {
	    			rtn[self.parent.zipCodes[i].zip_code] = 1;
	    		    }
	    		}
	    		rtn = Object.keys(rtn);
			var reset = true;
	    		for(var i =0; i < rtn.length; i +=1) {
			     if (self.selected == rtn[i]) {
				 reset = false;
				 break;
			     }
			}
			if (reset) {
			    // calling data(1) because this function is being used for data collection, but we need to update the ui
			    self.data(1).selected = true;
			}
	    		rtn.sort();
	    		return rtn;
	        }}"
	    >
	    <div>
		Selected is: {%= self.parent.selected %}
		<select onchange="{%= self %}.selected = this.value">
		{% if (self.parent.selected) { %}
		    <option value="">
			select Zip
		    </option>
		{% self.getZips().forEach(function(zip, index) { %}
		    <option {%=(zip == self.selected ? ' selected' : '') %}> {%= zip %}</option>
		{% }) %}
		{% } else { %}
		    <option>Select State</option>
		{% }  %}
		</select>
	    </div>
	</script>
	<script type="text/html" id="city-template"
		 data-widget-functions="{
	    	 getCity: function() {
	    	    var rtn = null;
	    	    for(var i = 0; i < self.parent.parent.zipCodes.length; i += 1) {
	    		var line = self.parent.parent.zipCodes[i];
	    		if (line.zip_code == self.parent.selected) {
	    		    rtn = line;
	    		}
	    	    }
	    	    return rtn;
	    	 }
	        }" 
	    >
	    <div>
		{% var line = self.getCity(); %}
		{% if (line) { %}
		<ul>
		    <li>
		    Your city is {%=line.city%}
		    </li>
		    <li>
		    Your zipcode's latitude {%=line.lat%}
		    </li>
		    <li>
		    Your zipcode's longitude {%=line.long%}
		    </li>
		    {% if (line.estimated_population) { %}
		    <li>
		    The people in this zipcode is: {%=line.estimated_population%}
		    </li>
		    {% } %}
		    {% if (line.total_wages) { %}
		    <li>
		    The total wage for this zipcode is: {%=line.total_wages%}
		    </li>
		    {% } %}
		</ul>
		{% } else { %}
		<div>No Zipcode listed yet</div>
		{% } %}
	    </div>
	</script>
	<div class="container">
	    <div id="state-output" 
	    	 data-widget-template-id="#state-template" 
	    	  data-widget-data="{selected:'', zipCodes:[]}"  
		      >


	    </div>
	    <div id="zipcode-output" 
	        data-widget-template-id="#zipcode-template"
	        data-widget-data="{selected:''}"
	        data-widget-parent-id="#state-output"
	    >did not load</div>
	    <div id="city-output" data-widget-template-id="#city-template" 
		data-widget-parent-id="#zipcode-output"></div>
	</div>
	<script src="../../dist/widget-dot.js"></script>
	<script src="../js/zip_code.js"></script>
    </body>
</html>
